//Font
$bold: 700;
$semibold: 500;
$medium: 600;
$regular: 400;
$font-primary: Arial, sans-serif;

//Font-size
$small-size: 1.4rem;
$medium-size: 1.6rem;
$regular-size: 1.8rem;
$h1-size: 3rem;
$h1-size-mobile: 2.4rem;
$h2-size: 2.4rem;

//Colors
$sunglow: #ffc835;
$accent: #1035ae;
$accent-lite: #efeff9;
$black: #1e1e1e;
$white: #ffffff;
$grey-border: #c5c5c5;

//Breakpoints
$large: 100%;
$medium: 48%;
$small: 31%;
$maxwidth-containner: 1440px;
$maxwidth-inner-containner: 1280px;

//responsive
$mobile: 648px !default;
$tablet: 1024px !default;
$desktop: 1280px !default;

//RYTHMS
$global-rythm: 0.8rem;

//Box
$radius: 0.4rem;
