.hscroller {
  background-color: #ffffff;
  display: flex;
  height: auto;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  position: relative;
  @include until(1025px) {
      overflow-x: auto;
  }
  @include mobile {
      margin: 0;
  }

  &-wrapper {
      width: 100%;
      max-width: 1250px;
      height: auto;
      margin: 0 auto;
      position: relative;
      padding: 0;
      @include until(1280px) {
          max-width: calc(100vw - 134px);
          margin: 0 16px;
      }

      @include until(1025px) {
          margin: 0;
      }

      @include mobile {
          max-width: calc(100vw - 80px);
          margin: 0;
      }
  }

  &-container {
      width: 100%;
      height: auto;
      margin: 0 auto;
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;
      padding: 0;
      @include until(1025px) {
          overflow-x: auto;
      }
  }

  &-paddles {
      height: 32px;
      width: 100%;
      @include mobile {
          display: none;
      }
  }

  &-paddle {
      position: absolute;
      top: 46px;
      bottom: 0;
      width: 24;
      z-index: 2;
      color: blueviolet;
      font-size: 40px;
      font-weight: 700;
      height: 100%;
  }

  &-paddles-left {
      @include icon("arrow-left", "#c5c5c5");
      display: flex;
      background-size: contain;
      background-position: center;
      width: 11px;
      height: 20px;
      left: -20px;
  }

  &-paddles-right {
      right: -20px;
      @include icon("arrow-left", "#c5c5c5");
      display: flex;
      background-size: contain;
      background-position: center;
      width: 11px;
      height: 20px;
      transform: rotate(180deg);
  }

  &-paddles-left:hover,
  &-paddles-right:hover {
      cursor: pointer;
  }
}
