.thenav {
  display: flex;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
  height: auto;
  width: 100%;

  &--item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 3.6rem 0 0;
    white-space: nowrap;
    height: auto;
    width: auto;
    &:last-child {
      margin-right: 0;
    }
  }
  &--link {
    display: flex;
    font-size: 1.6rem;
    font-weight: $semibold;
    color: #010101;
    text-decoration: none;
    line-height: 19px;
    position: relative;
    &.selected {
      &::after {
        content: "";
        height: 0.4rem;
        background-color: #010101;
        width: 100%;
        position: absolute;
        top: 6rem;
        left: 0;
        z-index: 2;
      }
    }
  }
}
